.progress {
    position: fixed;
    top: 10px;
    right: 0px;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid #888;
    color: #888;
    font-size: 16px;
    padding: 12px;
    text-align: right;
}