// shrink some less important columns
.timesheetDetails {
    box-sizing: border-box;
    padding-left: 20%;

    table.Excel {
        th {
            position: sticky !important;
            top: 0;
            background-color: rgb(245, 246, 246);
        }

        // make rows not relevant less visible
        .LockedRow {
            opacity: 0.4 !important;
            pointer-events: none;
        }

        // word wrap descriptions due to smaller columns
        *[data-type="cell-description"] div {
            white-space: break-spaces !important;
        }

    }

    &.hideLocked table.Excel .LockedRow {
        display: none;
    }
}

.workflowLog {
    width: 20% !important;
    position: sticky;
    top: 0;
    background: yellow;
    height: 1px !important;
    overflow: visible;
    display: block !important;
    margin-bottom: 0 !important;

    & + div {
        display: none;
    }
}


